DATABASE_HOST='xxxxxxxxxxxxx'
DATABASE_USERNAME='xxxxxxxxx'
DATABASE_PASSWORD='xxxxxxxxx'
DATABASE_PORT= xxxx
DATABASE_NAME='xxxxxxxxxxxxx'

CREDIT_CARD_URL='xxxxxxxxxxx'
CREDIT_CARD_PORT='xxxxxxxxxx'

CAMPAIGN_SERVICE_HOST='xxxxxx'
CAMPAIGN_SERVICE_PORT='xxxxx'

SUPPLIER_SERVICE_URL='xxxxxx'
SUPPLIER_SERVICE_PORT='xxxxx'

PRODUCT_SERVICE_URL='xxxxxxx'
PRODUCT_SERVICE_PORT='xxxxxx'
